on:
  push:
    branches:
      - used-actions

  workflow_dispatch:

# not available in GHES 3.1
#permissions: read-all

env:
  container_registry: ghcr.io/test-gha-market/actions-marketplace
  github_org: test-org-for-gha-market

jobs:
  get-action-usages:
    runs-on: ubuntu-latest
    container: ghcr.io/test-gha-market/actions-marketplace/powershell:7 # ${{ env.container_registry }} doesn't work :-
    steps:
    - uses: actions/checkout@v3

    - name: Test PowerShell Modules forder in root folder
      if: always()
      run: |
        cd /root/.local/share/powershell/Modules
        ls -l
        cd powershell-yaml
        ls -l

    - name: Test PowerShell Modules forder in usr folder
      if: always()
      run: |
        cd /usr/local/share/powershell/
        ls -la

    - name: Test PowerShell Modules forder in opt folder
      if: always()
      run: |
        cd /opt/microsoft/powershell/7/Modules/
        ls -l

    - shell: pwsh
      if: always()
      name: Get actions used in org data
      run: |
        $actions = (.\src\load-used-actions.ps1 -orgName ${{ env.github_org }} -PAT ${{ secrets.PAT_GITHUB }} -marketplaceRepo ${{ github.repository }} -userName "x" -userEmail "x" )
        # wite the file outside of the container so we can pick it up
        Write-Host "Found actions: "
        Write-Host $actions | ConvertTo-Json -Depth 10
        $jsonObject = ($actions | ConvertTo-Json -Depth 10)
        $fileName = "summarized-actions.json"
        New-Item -Path $fileName -Value $jsonObject -Force | Out-Null
        $content = Get-Content $fileName
        Write-Host "Written [$($content.Length)] characters to the output file [$fileName]"

    - name: upload result file as artefact
      uses: actions/upload-artifact@v3
      with:
        name: summarized-actions
        path: summarized-actions.json